/****** Object:  Database [NASA]    Script Date: 30/12/2023 1:43:17 ******/
CREATE DATABASE [NASA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NASA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NASA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NASA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NASA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NASA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NASA]
GO
/****** Object:  Table [dbo].[Asteroids]    Script Date: 30/12/2023 1:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asteroids](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[neo_reference_id] [varchar](100) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[estimated_diameter_min_km] [float] NOT NULL,
	[estimated_diameter_max_km] [float] NOT NULL,
	[is_potentially_hazardous_asteroid] [bit] NOT NULL,
	[close_approach_date] [date] NOT NULL,
	[relative_velocity_km_per_hour] [float] NOT NULL,
	[miss_distance_km] [float] NOT NULL,
	[orbiting_body] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Asteroids] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExplorationAsteroid]    Script Date: 30/12/2023 1:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExplorationAsteroid](
	[explorationId] [int] NOT NULL,
	[asteroidId] [int] NOT NULL,
 CONSTRAINT [PK_ExplorationAsteroid] PRIMARY KEY CLUSTERED 
(
	[explorationId] ASC,
	[asteroidId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Explorations]    Script Date: 30/12/2023 1:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Explorations](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[entryDate] [datetime] NOT NULL,
	[dateFrom] [date] NOT NULL,
	[dateTo] [date] NOT NULL,
 CONSTRAINT [PK_Searches] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ExplorationAsteroid]  WITH CHECK ADD  CONSTRAINT [FK_ExplorationAsteroid_Asteroids] FOREIGN KEY([asteroidId])
REFERENCES [dbo].[Asteroids] ([ID])
GO
ALTER TABLE [dbo].[ExplorationAsteroid] CHECK CONSTRAINT [FK_ExplorationAsteroid_Asteroids]
GO
ALTER TABLE [dbo].[ExplorationAsteroid]  WITH CHECK ADD  CONSTRAINT [FK_ExplorationAsteroid_Explorations] FOREIGN KEY([explorationId])
REFERENCES [dbo].[Explorations] ([ID])
GO
ALTER TABLE [dbo].[ExplorationAsteroid] CHECK CONSTRAINT [FK_ExplorationAsteroid_Explorations]
GO
USE [master]
GO
